/**************************底部栏********************************/
.main {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(230, 230, 230);
    z-index: 9;
}

.main ul {
    display: flex;
}

.main li {
    text-align: center;
    flex-grow: 1;
}

.main li div{
    width: 100%;
}

.main svg {
    font-size: 30px;
    margin: 6px auto;
}

.main p {
    font-size: 0.5rem;
}